version = "1"

includes = ["/Users/blomma/.secure/resticprofile/profiles.toml"]

[global]
restic-stale-lock-age = "2h"
prevent-sleep = true

[default]
force-inactive-lock = true

[default.backup]
verbose = true
compression = "max"
source = [
    "/Users/blomma/Projects/",
    "/Users/blomma/Documents/",
    "/Users/blomma/.mail",
]
exclude-file = "excludes.txt"
schedule = "*-*-* 00:30:00"
schedule-permission = "user"
schedule-priority = "background"
schedule-log = "/Users/blomma/.secure/resticprofile/profile-backup.log"
schedule-lock-mode = "default"
schedule-lock-wait = "15m30s"
schedule-ignore-on-battery-less-than = 40

[default.retention]
after-backup = true
verbose = true
keep-hourly = 0
keep-daily = 30
keep-weekly = 52
keep-monthly = 0
prune = true

[default.rewrite]
verbose = true
source = [
    "/Users/blomma/Projects/",
    "/Users/blomma/Documents/",
    "/Users/blomma/.mail",
]
exclude-file = "excludes.txt"
