version = "1"

[default.backup]
source = ["/home/user/Projects", "/home/user/Documents", "/home/user/.mail"]
exclude-file = ["excludes.txt", "excludes.local.txt"]

[default.backup.schedule]
at = "*-*-* 03:00:00"
permission = "user_logged_on"
priority = "background"
log = "backup.log"
lock-mode = "default"
lock-wait = "15m30s"
