version = "1"

includes = ["profiles.local.toml"]

[global]
restic-stale-lock-age = "2h"
prevent-sleep = true
verbose = true

[default]
force-inactive-lock = true

[default.backup]
verbose = true
compression = "max"
source = [
    "/home/user/Projects",
    "/home/user/Documents",
    "/home/user/.mail",
]
exclude-file = "excludes.txt"
schedule = "*-*-* 03:00:00"
schedule-permission = "user"
schedule-priority = "background"
schedule-log = "backup.log"
schedule-lock-mode = "default"
schedule-lock-wait = "15m30s"
schedule-ignore-on-battery-less-than = 20

[default.retention]
after-backup = true
verbose = true
keep-hourly = 0
keep-daily = 7
keep-weekly = 5
keep-monthly = 12
prune = true
group-by = ""
