# vim: ft=offlineimap
[general]
accounts = personal,work
pythonfile = ~/.config/offlineimap/offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.config/offlineimap/postsynchook.sh

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = 48:50:EB:01:67:E8:22:24:1A:B1:74:F4:B5:0A:98:16:F4:06:92:97:70:76:92:AF:B0:EE:0D:4D:89:6E:4A:09
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = get_pass("fastmail")

[Account work]
localrepository = work-local
remoterepository = work-remote
postsynchook = ~/.config/offlineimap/postsynchook.sh

[Repository work-local]
type = Maildir
localfolders = ~/.mail/work

[Repository work-remote]
type = IMAP
ssl = yes
cert_fingerprint = 4eb914123da8bd4cbcc911a3a0e0c81865c12eb1c2347c5ca53fcd742c2247c040f33f8df14e100134d569d599cc9f8a9bc1474bbcc835735191d755e70d10b9
remotehost = mail.runbox.com
remoteuser = user@example.com
remotepasseval = get_pass("runbox")
