# vim: ft=offlineimap
[general]
accounts = personal
pythonfile = ~/.config/offlineimap/offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.config/offlineimap/postsynchook.sh

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = BB:7C:B5:E5:58:0D:1C:F2:08:62:CF:50:AC:47:23:E4:09:15:9B:D2:65:F2:8D:4F:5E:16:48:7A:87:0F:44:58
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = get_pass("fastmail")

