# vim: ft=offlineimap
[general]
accounts = personal
pythonfile = ~/.config/offlineimap/offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.config/offlineimap/postsynchook.sh

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = B2:81:1B:8D:98:83:B8:F4:BD:50:20:E6:30:F2:E0:08:EC:C4:28:10:97:CC:11:BB:D3:36:04:05:D0:48:4B:2F:6F:F6:34:9B:89:65:A7:69:48:35:15:94:3E:F2:29:B0:53:EB:D8:3A:90:46:01:EB:2A:19:E3:52:38:BB:7C:0E
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = get_pass("fastmail")

