# -- defaults --
defaults

# -- account --
account personal

# port number
port 465

# tls settings
tls on
tls_certcheck on
tls_starttls off
tls_fingerprint BD:DC:89:DA:E4:86:29:89:8A:F1:34:21:D7:84:4F:80:6C:A3:39:43

# smtp hostname
host mail.messagingengine.com

# from address
from user@example.com

# enable authentication
auth on
user user@example.com
passwordeval cat ~/.offlineimap.password

# -- account --
account secondary

# port number
port 465

# tls settings
tls on
tls_certcheck on
tls_starttls off
tls_fingerprint 5D:97:F8:92:75:BD:6D:B0:3E:18:6E:53:BE:E1:06:58:C5:D3:F7:70

# smtp hostname
host send.one.com

# from address
from user@example.com

# enable authentication
auth on
user user@example.com
passwordeval cat ~/.offlineimap.secondary.password

account default : personal
