[general]
accounts = personal,secondary, work
pythonfile = ~/.offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = bddc89dae48629898af13421d7844f806ca33943
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = op_passwd("example-item", "app_password")

[Account secondary]
localrepository = secondary-local
remoterepository = secondary-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository secondary-local]
type = Maildir
localfolders = ~/.mail/secondary

[Repository secondary-remote]
type = IMAP
ssl = yes
cert_fingerprint = 0b27ec090875e238c3f84c3f26611636516a68ce99a2dc8bdc6d86c44ca56ebcd6d6510a72d55684af8d7cf08fa6999fedc781259077e50d88ecfdb59fae34d0
remotehost = imap.one.com
remoteuser = user@example.com
remotepasseval = op_passwd("example-item", "password")

[Account work]
localrepository = work-local
remoterepository = work-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository work-local]
type = Maildir
localfolders = ~/.mail/work

[Repository work-remote]
type = IMAP
ssl = yes
cert_fingerprint = e2ba8f194270451720b50344add4611534ff52e5736055e37b6285e2ce5886a450f2b6e0015317360421e5d6f688611ec05f455ee9f817a65b77e4779b8e0419
remotehost = mail.runbox.com
remoteuser = user@example.com
remotepasseval = op_passwd("example-item", "password")
