[general]
accounts = personal,work
pythonfile = ~/.offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = c3b43678680c605062beffc6fac48d5b0623a27f448f7fa38bd0ab6f673323d4ccb6e841fb8828e4ad174070caef4cbf3a06e3ef86ae2ea605afa35ad7ef3abd
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = get_pass("fastmail")

[Account work]
localrepository = work-local
remoterepository = work-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository work-local]
type = Maildir
localfolders = ~/.mail/work

[Repository work-remote]
type = IMAP
ssl = yes
cert_fingerprint = 91092da0582175dc59f162c92732756f1463e8401e5d038ed7435da316d94bdebc5d590273b4868404264f2a5f6d459a943011c460ba26adb7f73893d4cb9480
remotehost = mail.runbox.com
remoteuser = user@example.com
remotepasseval = get_pass("runbox")
