# Sample minimal config file.  Copy this to ~/.offlineimaprc and edit to
# get started fast.

[general]
accounts = personal,secondary
pythonfile = ~/.offlineimap.py

[Account personal]
localrepository = personal-local
remoterepository = personal-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository personal-local]
type = Maildir
localfolders = ~/.mail/personal

[Repository personal-remote]
type = IMAP
ssl = yes
cert_fingerprint = bddc89dae48629898af13421d7844f806ca33943
remotehost = mail.messagingengine.com
remoteuser = user@example.com
remotepasseval = imappasswd("personal")

[Account secondary]
localrepository = secondary-local
remoterepository = secondary-remote
postsynchook = ~/.offlineimap.postsynchook

[Repository secondary-local]
type = Maildir
localfolders = ~/.mail/secondary

[Repository secondary-remote]
type = IMAP
ssl = yes
cert_fingerprint = 43b00d67a87425fbf585be88bab40fb85f05e7fa
remotehost = imap.one.com
remoteuser = user@example.com
remotepasseval = imappasswd("secondary")
