.ssh/config.d
.ssh/known_hosts*
.ssh/*_rsa*
.config/fish/fishd.*
.config/fish/fish_history
.config/fish/fish_variables
.atom/*
.atom/!config.cson
.atom/!init.coffee
.atom/!keymap.cson
.atom/!snippets.cson
.atom/!styles.less
.config/nvim/plugged
.config/nvim/autoload
.config/git/config.local
.config/neomutt/tmp
.config/offlineimap/*.gpg
.config/offlineimap/*.pyc
.config/offlineimap/__pycache__
.config/msmtp/*.gpg
.config/iTerm2/AppSupport
.config/micro/buffers

