ssh/.ssh/config.d
ssh/.ssh/known_hosts
ssh/.ssh/*_rsa*
fish/.config/fish/fishd.*
fish/.config/fish/fish_history
fish/.config/fish/fish_variables
atom/.atom/*
atom/.atom/!config.cson
atom/.atom/!init.coffee
atom/.atom/!keymap.cson
atom/.atom/!snippets.cson
atom/.atom/!styles.less
nvim/.config/nvim/plugged
nvim/.config/nvim/autoload
git/.config/git/config.local
neomutt/.config/neomutt/tmp
