# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'.platform-darwin':
  'cmd-shift-h': 'tree-view:toggle'

  # Create an empty split pane
  'cmd-k left':  'pane:split-left'
  'cmd-k right': 'pane:split-right'
  'cmd-k up':    'pane:split-up'
  'cmd-k down':  'pane:split-down'

  # Create a split pane with the current pane item moved into it
  'cmd-k m left':  'pane:split-left-and-move-active-item'
  'cmd-k m right': 'pane:split-right-and-move-active-item'
  'cmd-k m up':    'pane:split-up-and-move-active-item'
  'cmd-k m down':  'pane:split-down-and-move-active-item'

  # Create a split pane with the current pane item duplicated
  'cmd-k d left':  'pane:split-left-and-copy-active-item'
  'cmd-k d right': 'pane:split-right-and-copy-active-item'
  'cmd-k d up':    'pane:split-up-and-copy-active-item'
  'cmd-k d down':  'pane:split-down-and-copy-active-item'

  # Move the current pane item to the target split pane
  'cmd-ctrl-shift-left':  'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-up':    'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-down':  'window:move-active-item-to-pane-below'

'.platform-win32, .platform-linux':
  'alt-shift-h': 'tree-view:toggle'

  'ctrl-shift-/': 'editor:toggle-line-comments'

  # Create an empty split pane
  'ctrl-k left':  'pane:split-left'
  'ctrl-k right': 'pane:split-right'
  'ctrl-k up':    'pane:split-up'
  'ctrl-k down':  'pane:split-down'

  # Create a split pane with the current pane item moved into it
  'ctrl-k m left':  'pane:split-left-and-move-active-item'
  'ctrl-k m right': 'pane:split-right-and-move-active-item'
  'ctrl-k m up':    'pane:split-up-and-move-active-item'
  'ctrl-k m down':  'pane:split-down-and-move-active-item'

  # Create a split pane with the current pane item duplicated
  'ctrl-k d left':  'pane:split-left-and-copy-active-item'
  'ctrl-k d right': 'pane:split-right-and-copy-active-item'
  'ctrl-k d up':    'pane:split-up-and-copy-active-item'
  'ctrl-k d down':  'pane:split-down-and-copy-active-item'

  # Move the current pane item to the target split pane
  'alt-ctrl-shift-left':  'window:move-active-item-to-pane-on-left'
  'alt-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'alt-ctrl-shift-up':    'window:move-active-item-to-pane-above'
  'alt-ctrl-shift-down':  'window:move-active-item-to-pane-below'
