* {
    font-family: "IBM Plex Mono", "Material Design Icons";
    font-size: 15px;
}

window {
    background: transparent;
    color: white;
}

#workspaces {
    padding: 0px;
    border-radius: 0px 0px 10px 0px;
    background: rgba(43, 48, 59, 0.5);
}

#workspaces button {
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid white;
}

#mode {
    padding: 0px;
    padding-left: 8px;
    border-radius: 0px 0px 10px 0px;
    background: rgba(43, 48, 59, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#custom-brightness {
    padding: 0 10px;
}

#custom-brightness {
    border-radius: 0px 0px 0px 10px;
    background: #6c464f;
}

#idle_inhibitor {
    background: #9e768f;
    color: black;
}

#network {
    background: #9fa4c4;
    color: black;
}

#pulseaudio {
    background: #b3cdd1;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#battery {
    background-color: #c7f0bd;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
