* {
    border: none;
    border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
    background: rgba(43, 48, 59, 1);
}

window#waybar {
    color: rgb(221, 219, 219);
}

#workspaces button {
    padding: 0 5px;
    color: white;
}

#workspaces button.focused {
    background: rgba(100, 114, 125, 0.2);
    border-bottom: 3px solid white;
}

#mode {
    background: transparent;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#custom-brightness,
#tray,
#mode,
#custom-temp,
#custom-root,
#custom-home,
#custom-backup,
#custom-scratch,
#custom-main {
    padding: 0 6px;
    margin: 0 3px;
}

#clock {
    border-bottom: 3px solid white;
    color: white;
}

#battery {
    border-bottom: 3px solid white;
    color: white;
}

#battery.charging {
    color: white;
    border-bottom: 3px solid #26a65b;
}

#battery.warning:not(.charging) {
    border-bottom: 3px solid #fd6865;
    color: white;
}

#cpu {
    border-bottom: 3px solid white;
    color: white;
}

#memory {
    border-bottom: 3px solid white;
    color: white;
}

#network {
    border-bottom: 3px solid white;
    color: white;
}

#network.disconnected {
    color: crimson;
}

#pulseaudio {
    border-bottom: 3px solid white;
    color: white;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-brightness {
    border-bottom: 3px solid white;
    color: white;
}

#tray {
    border-bottom: 3px solid white;
}
