* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window {
    background: transparent;
    color: white;
}

#workspaces {
    padding: 0px;
    border-radius: 0px 0px 10px 0px;
    background: rgba(43, 48, 59, 0.5);
}

#workspaces button {
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid white;
}

#mode {
    padding: 0px;
    padding-left: 8px;
    border-radius: 0px 0px 10px 0px;
    background: rgba(43, 48, 59, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-brightness {
    padding: 0 10px;
}

#clock {
    background-color: #64727d;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: #000000;
}

#memory {
    background: #9b59b6;
}

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#custom-brightness {
    border-radius: 0px 0px 0px 10px;
    background: rgba(43, 48, 59, 0.5);
}
